<h1>Welcome to Braille</h1>
<%= link_to "Sign Up as Student", signup_student_path %><br>
<%= link_to "Log In as Student",  signin_student_path %><br>
<%= link_to "Sign Up as Teacher", signup_teacher_path %><br>
<%= link_to "Log In as Teacher",  signin_teacher_path %><br>